@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-datepicker/dist/react-datepicker.css";

@layer base {
  :root {
    --green-50: 243 254 243;
    --green-100: 220 251 220;
    --green-200: 186 246 185;
    --green-300: 140 241 138;
    --green-400: 93 235 90;
    --green-500: 32 222 28;
    --green-600: 23 166 21;
    --green-700: 17 124 15;
    --green-800: 14 104 13;
    --green-900: 11 83 10;
  }
}
